<div class="app-wrapper">
    <!-- <button (click)="showMyTest()">>test</button>
    <button (click)="showMyAssign()">assign</button> -->
    <li>
        <a routerLink="/myTest">test</a>
    </li>
    <li>
        <a routerLink="/">assign</a>
    </li>
    <li>
        <a routerLink="/admin">admin</a>
    </li>
    <br>
    <!-- <app-my-test *ngIf="myTest"></app-my-test>
    <app-my-assign *ngIf="!myTest"></app-my-assign> -->
    <!-- <app-my-test></app-my-test> -->
    <!-- <app-my-assign></app-my-assign> -->
    <router-outlet></router-outlet>
</div>